.smoky-border {
    border-style: groove;
    padding: 40px;
    font-family: 'Bangers', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

input {
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 0.8em;
    background-color: aliceblue;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    font-size: 20px;
}

input:focus {
    outline: none;
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff; 
}

input:hover {
    border-color: #007bff;
}

.btn-score {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    font-weight: bold; 
    border: 2px solid #ccc;
    background-color: aliceblue;
    color: blue;
}

.btn-score:focus {
    outline: none;
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff; 
}


.the-score-list {
    list-style-type: none;
    padding: 0;
}

.the-score-list li {
    margin: 5px 0;
    font-size: 1.7em;
}

.score-p{
    font-size: 1.2em;
    font-family: 'Bangers', cursive;
    color: black;
}

.welcome{
    font-size: 2em;

}

.boldscore{
    font-weight: bold; 
}