/* Home.css */

.homebody {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(250, 250, 250), rgb(95, 145, 183));
  margin: 0;
  padding: 0;
  height: 100vh;
}

 .header-container {
  
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 100px; 
} 

.title {
  font-size: 50px;
  color: #66879d;
  text-align: center;
}

.profile-button {
  position: absolute;
  left: 20px; /* Adjust as needed */
  top: 20px; /* Adjust as needed */
  padding: 10px 20px; /* Adjust padding */
  font-size: 17px;
  font-weight: bold;
  color: #567487;
  background-color: white;
  border: 1px solid #567487;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-button:hover {
  background-color: #426386;
}

.player-list {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.player-item {
  margin: 20px;
  padding: 15px;
  border: 1px solid #2e353a;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.player-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-name {
  font-size: 18px;
  margin: 0 0 5px 0;
  color: #555;
}

.player-average {
  font-size: 14px;
  margin: 0;
  color: #777;
}

.start-button {
  display: block;
  width: 30%;
  padding: 10px 0;
  margin: 20px auto;
  font-size: 16px;
  color: #181616;
  background-color: rgb(146, 171, 189);
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #426386;
}
