.color-palette {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .color-palette button {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .color-palette button:hover {
    border: 2px solid white;
  }
  