.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid white;
    padding: 10px;
    background-color: #4e4e4e;
    border-radius: 5px;
    box-sizing: border-box;
  }

.row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.keyboard button {
  background-color: #6e6e6e;
  color: white;
  border: none;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.keyboard button:hover {
  background-color: #8e8e8e;
}
