.text-editor {
  width: 42%;

  min-height: 40px;
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  overflow-wrap: break-word;
  position: fixed;
}

.text-editor:focus {
  outline: 2px solid #4e4e4e;
}

