.toolbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toolbar button {
  background-color: #4e4e4e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #6e6e6e;
}
